<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Marvel Movies Reviewed!</h1>
    <p>Welcome to the new Marvel IMDB. They've been coming out with so many movies I figured I'd they would need their own site</p>
    <p>
      <%= link_to "Sign Up to Write A Review", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>
  </div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
